# source 
#
LEX      = flex
YACC     = bison

CXX      = mpic++ 
CC       = gcc 
NVCC     =  

CFLAGS    = -g -w -Wall -fopenmp 
CXXFLAGS  = -std=c++11 $(CFLAGS)
NVCCFLAGS = 

TOP_DIR       = 
LIB_TOP       = 
TOOLCHAIN     = 

# Common include paths
INCSSPARSE    = 
INCMUMPS      = 
INCHYPRE      = 
INCQHULL      = 
INCMAGMA      =
INCSLUDIST    = 
INCPEXSI      = 

INCCUDA       =

# Common library paths
LIBSSPARSE    =
LIBMUMPS      = 
LIBHYPRE      = 
LIBQHULL      = 
LIBMAGMA      =
LIBPARMETIS   = 
LIBSLUDIST    = 
LIBPEXSI      = 
LIBPARDISO    =
LIBDBCSR      =
LIBCP2K       = 

LIBCUDA       =

LFLAGS   = $(LIBCP2K) $(LIBDBCSR) $(LIBPEXSI) $(LIBPARDISO) $(LIBPARMETIS) $(LIBSLUDIST) $(LIBSSPARSE) $(LIBMUMPS) $(LIBHYPRE) $(LIBQHULL) $(LIBCUDA) $(LIBMAGMA)

DFLAGS   = -DAdd_ 

LIBS     = -lrt -ldl -lstdc++ -lgfortran -lmpifort -lopenblas

INCLUDES = $(INCPEXSI) $(INCSLUDIST) $(INCSSPARSE) $(INCMUMPS) $(INCHYPRE) $(INCQHULL) $(INCCUDA) $(INCMAGMA)

