# source 
#
LEX      = flex
YACC     = bison

CXX      = mpic++ 
CC       = gcc 
NVCC     =  

CFLAGS    = -g -w -Wall -fopenmp 
CXXFLAGS  = -std=c++11 $(CFLAGS)
NVCCFLAGS = 

TOP_DIR       = 
LIB_TOP       = 
TOOLCHAIN     = 

# Common include paths
INCSSPARSE    = 
INCMUMPS      = 
INCHYPRE      = 
INCQHULL      = 
INCMAGMA      =
INCSLUDIST    = 
INCPEXSI      = 

INCCUDA       =

# Common library paths
LIBSSPARSE    =
LIBMUMPS      = 
LIBHYPRE      = 
LIBQHULL      = 
LIBMAGMA      =
LIBPARMETIS   = 
LIBSLUDIST    = 
LIBPEXSI      = 
LIBCP2K       = 

LIBCUDA       =

LFLAGS   = -L$(LIBCP2K) -L$(LIBPEXSI) -L$(LIBPARMETIS) -L$(LIBSLUDIST) -L$(LIBSSPARSE) -L$(LIBMUMPS) -L$(LIBHYPRE) -L$(LIBQHULL) -L$(LIBCUDA) -L$(LIBMAGMA)

DFLAGS   = -DAdd_ 

LIBS     = -lrt -ldl -lstdc++ -lgfortran -lmpifort -lopenblas

INCLUDES = -I$(INCPEXSI) -I$(INCSLUDIST) -I$(INCSSPARSE) -I$(INCMUMPS) -I$(INCHYPRE) -I$(INCQHULL) -I$(INCCUDA) -I$(INCMAGMA)

